<%= form_for(@day_collection) do |f| %>
  <% if @day_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_collection.errors.count, "error") %> prohibited this day_collection from being saved:</h2>

      <ul>
      <% @day_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
